{% extends 'base.html' %}


{% block content %}
<section class="todoapp">
    <header class="header">
        <h1>To-Do list</h1>
    </header>
    <section class="main">
        <ul class="todo-list">
            {% for todo in object_list %}

            <li {% if todo.done %}class="completed"{% endif %}>
                <div>
                    <input type = "checkbox" {% if todo.done %} checked {% endif %} disabled="disabled">
                    <label>{{ todo.description }}</label>    
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endblock %}
